.super-container-publish {
  background-color: lightgray;
  height: 100%;
}
.container-publish {
  font-size: 18px;
  font-weight: bold;
  background-color: lightgray;
  max-width: 1240px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.h2-publish {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0;
}
.pictures-publish {
  background-color: white;
  border: 1px solid gray;
  margin: 5px 0;
}
.title-and-description-publish {
  background-color: white;
  border: 1px solid gray;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.title-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.description-publish {
  display: flex;
  height: 100%;
  align-items: flex-start;
  border-bottom: 0.5px solid lightgray;
}
.description-publish label {
  margin-left: 10px;
  flex: 1;
  border: none;
  outline: none;
}
.description-publish textarea {
  flex: 1;
  border: none;
  outline: none;
}
.description-publish textarea {
  height: 80px;
}
.details-publish {
  background-color: white;
  border: 1px solid gray;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.brand-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.brand-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.size-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.size-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.color-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.color-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.state-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.state-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.location-publish {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.location-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.price-publish {
  background-color: white;
  border: 1px solid gray;
  margin: 5px 0;
  display: flex;
  border-bottom: 0.5px solid lightgray;
  height: 60px;
}
.price-publish label,
input {
  flex: 1;
  margin-left: 10px;
}
.div-button-publish {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-publish {
  background-color: #0eaeb7;
  color: white;
  padding: 10px 15px;
  margin: 25px 0;
  outline: none;
  border: none;
}
