@import url("./assets/css/stylesheet.css");

/* Reset rules */
:root {
    --page-margin: 24px;
}
html {
    height: 100vh;
    overflow-x: hidden;
}
body {
    font-family: "Font";
    margin: 0;
    height: 100%;
    font-family: "Font";
}
#root {
    height: 100%;
}
/* #root > div {
  height: 100vh;
} */
